@use "../../../../assets/base_stylesheets/index.scss" as *;

.projects-container {
	@include flex-row-wrap-center;
	padding: 1rem;
	width: 100%;
	height: 100%;
}

.project-card {
	@include flex-col-center;
	margin: 1rem;
	padding: 1rem;
	border-radius: 1rem;
	h1 {
		font-family: $script-font;
		font-size: 3rem;
		width: 100%;
	}
	.project-skills-display {
		display: none;
		padding: 0 2.5rem;
	}
	a {
		@include flex-col-center;
	}
	@for $i from 1 through 99 {
		&.project-#{$i} {
			transition: background-color 0.5s;
			background-image	: $project-tile-background-hover;
		}
	}
	&:hover {
		transition: background-color 0.8s;
		background-color: $project-tile-background-hover;
		a {
			transform: scale(1.2);
			transition: transform 0.5s;
			border-bottom: 1px solid $medium-gray;
			cursor: pointer;
			color: yellow;
		}
		h1 {
			font-size: 2rem;
		}
		.project-skills-display {
			padding: 1rem;
			border-radius: 2rem;
			@include flex-row-wrap-center;
		}
	}
	@media (min-width: 900px) {
		width: 365px;
		min-height: 365px;
	}
	@media (max-width: 900px) {
		width: 360px;
		height: 360px;
	}
}
