@use "../../../../assets/base_styles/index.scss" as *;

.projects-container {
  @include flex-row-wrap-center;
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.project-card {
  @include flex-col-center;
	background-color: $dark-slate-gray;
	border-radius: 0.25rem;
  width: 48%;
  height: 48%;
  min-width: 380px;
  min-height: 380px;
}