@use "../../assets/base_stylesheets/index.scss" as *;


@media (min-width: 1101px) {
	.nav-container {
		@include flex-col-center;
		background-color: $dark-blue;
		border-right: 2px solid $main-font-color;
		height: 100vh;
		position: sticky;
		top: 0;
	}
	
}
