@use "../../../../assets/base_styles/index.scss" as *;

.background-page-header {
	padding: 1rem;
	padding-bottom: 0;
	border-bottom: 1px solid $medium-gray;
}

.background-page-container {
	margin: 1rem;
}
