@use "../../../../assets/base_stylesheets/index.scss" as *;

.background-page-container {
	@include flex-col-center;
	margin: 1rem;
}

.background-page-current-role {
	font-size: 1.5rem;
	font-weight: bolder;
}

.background-page-roles {
	font-size: 1rem;
	font-weight: bolder;
	color: orange;
}

.background-page-accomplishments {
	width: 60%
}

#accomplishments {
	color: orange;
}