@use "../../../../assets/base_stylesheets/index.scss" as *;

.background-page-container {
	@include flex-col-center;
	margin: 1rem;
}

.background-page-current-role {
	font-size: 1.5rem;
	font-weight: bolder;
}

.background-page-roles {
	list-style: none;
  text-align: center;
  padding: 0;
	li {
		font-size: 1rem;
		font-weight: bolder;
		color: orange;
		margin-bottom: 5px;
	}
}

.background-page-accomplishments {
	width: 80%;
	list-style: none;
  text-align: center;
  padding: 0;
	li {
		font-size: 1rem;
		font-weight: bolder;
		color: orange;
		margin-bottom: 5px;
	}

}

#accomplishments {
	color: orange;
}