@use './assets/base_stylesheets/index.scss' as *;

*, *::before, *::after {
  box-sizing: border-box;	
}

body {
	margin: 0;
	text-align: center;
	color: $main-font-color;
	background-image: $dark-blue-gradient;
	font-family: $backup-font;
}

a {
	text-decoration: none;
	color: inherit;
}

.sub-page-header-div {
	margin-top: 0.5rem;
	padding: 0.5rem;
	padding-bottom: 0;
}

.sub-page-h1 {
	font-family: $backup-font;
}

@media (min-width: 1101px) {
	.app-container {
		display: grid;
		grid-template-columns: 1fr 4fr;
		height: 100vh;
	}
}
@media (max-width: 1100px) {
	.app-container {
		display: grid;
		grid-template-rows: 50px auto;
		height: fit-content;
		align-items: start;
	}
}

