@use './assets/styles/index.scss' as *;

body {
	color: $main-font-color;
	background-color: $medium-gray;
}

@media (min-width: 901px) {
	.app-container {
		display: grid;
		grid-template-columns: 1fr 4fr;
	}
}
@media (max-width: 900px) {
	.app-container {
		display: grid;
		grid-template-rows: 50px auto;
		height: 100vh;
		align-items: start;
	}
}
