@use "../../../../assets/base_styles/index.scss" as *;

.skills-page-header {
  padding: 1rem;
  padding-bottom: 0;
  border-bottom: 1px solid $main-font-color;
}

.skills-page-container {
  margin: 1rem;
}