@use "../../../../assets/base_styles/index.scss" as *;

.skills-page-header {
  padding: 1rem;
  padding-bottom: 0;
  border-bottom: 1px solid $dark-blue;
}

.skills-page-container {
  @include flex-row-wrap-center;
  margin: 1rem;
}
