// FONT COLORS
$main-font-color: rgb(243, 243, 243);

// BACKGROUND COLORS
$medium-gray: rgb(67, 67, 67);
$dark-gray: rgb(30, 30, 30);
$dark-gray-transparent: rgba(30, 30, 30, 0.96);

$medium-blue: rgb(67, 67, 86);
$dark-blue: rgb(18, 18, 30);

$dark-slate-gray: rgb(47, 79, 79);