@use "../../../../assets/base_stylesheets/index.scss" as *;

.contact-page-container {
	@include flex-col-center;
	padding: 1rem;
}

.contact-form-container {
	@include flex-col-center;
	gap: 1rem;
}

.form-group-name-email {
	@include flex-row-wrap-center;
	margin: 0.5rem;
}

.form-text-input {
	width: 300px;
}

.swal2-popup {
	color: $backup-font-color;
	background-color: $dark-blue;
	border: 5px solid $medium-gray;
}
