@use "../../../../assets/base_styles/index.scss" as *;

.contact-page-header {
  padding: 1rem;
  padding-bottom: 0;
  border-bottom: 1px solid $dark-blue;
}

.contact-page-container {
	@include flex-col-center;
	padding: 1rem;
}

.contact-form-container {
	@include flex-col-center;
	gap: 1rem;
}

.form-group-name-email {
	@include flex-row-wrap-center;
	margin: 0.5rem;
}

.swal2-popup {
	color: $main-font-color;
	background-color: $dark-blue;
  border: 5px solid $medium-gray;
}
