// FONT COLORS
$main-font-color: rgb(243, 243, 243);

// BACKGROUND COLORS
$medium-gray: rgb(67, 67, 67);
$dark-gray: rgb(30, 30, 30);
$medium-gray-transparent: rgba(67, 67, 67, 0.94);
$dark-gray-transparent: rgba(30, 30, 30, 0.94);

$medium-blue: rgb(67, 67, 86);
$dark-blue: rgb(18, 18, 30);
$dark-blue-gradient: linear-gradient(to bottom right, rgb(18, 18, 30), rgba(18, 18, 30, 0.1));

$dark-slate-gray: rgb(38, 73, 73);
$slate-gray-gradient: linear-gradient(to bottom right, rgb(10, 30, 30), rgb(38, 73, 73), rgb(150, 200, 200));


$navigation-background: $dark-blue-gradient